@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100%;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.movie-detail-drawer {
  transition: all 0.4s ease;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: 0;
  width: 100%;
}
.swiper-pagination-bullet {
  transition: all 0.4s ease !important;
  height: 9px !important;
}
.swiper-pagination-bullet-active {
  width: 30px !important;
  border-radius: 10px !important;
  transition: all 0.4s ease;
}
.sidebar {
  flex: 5 !important;
}
.home {
  flex: 3 !important;
}
.ReactTags__tagInputField {
  padding: 10px 20px;
  border: solid 1px grey;
  border-radius: 10px;
  background-color: transparent;
  width: 100%;
  margin-top: 10px;
}
.ReactTags__tag {
  border: solid 1px grey;
  padding: 5px 10px;
  border-radius: 10px;
}
.ReactTags__tag > button {
  margin-left: 5px;
  transition: all 0.4s ease;
}
.ReactTags__tag > button:hover {
  scale: 1.5;
}
